
header{
    padding-right:500px;
}
h2{
 color:red
}
#summaryText{
    text-emphasis: bold;
    text-align: center;
}
.carousel-inner{
align-content: center;
}
.temp {
    font-size: 25px;
    font-weight: 500;
}
img{
    padding-right:50px;
    padding-left:50px;
}
.collapse{
    text-align:center;
}
#entireCollapse{
    text-align:center;


}